* {
    box-sizing: border-box;
}
table, th, td {
    border:1px solid black;
    border-collapse: collapse;
}

table {
    width: 100%;
}

tr.tblOne {
    height: 200px;
    background-color: aquamarine;
}